In [1]:
import pandas as pd
import pymongo
df = pd.read_csv('data.csv')

In [2]:
data = df.to_dict(orient='records')

In [3]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://deshmukhnikhil018:7oyuo8YuQ3keAJdr@cluster0.onfz8rw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

#remove password from connection URL

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [5]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [6]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,688b3c9604604010bbc53de7,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,688b3c9604604010bbc53de8,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0